<div id="accordion fact-criteria">
  <div class="card">
    <div class="card-header" id="eval-author" data-toggle="collapse" data-target="#collapse-author">
      <h5 class="mb-0 d-flex justify-content-between">
        <span class="loader">
          <i v-bind:class="authorIcon"></i>
          Autor
        </span>
        <span>
          <i class="fas fa-chevron-down"></i>
        </span>
      </h5>
    </div>
    <div id="collapse-author" class="collapse collapsed" aria-labelledby="eval-author" data-parent="#fact-criteria">
      <div class="card-body">
        <p>
          Jeśli ktoś podpisuje się swoim nazwiskiem, nie boi się, że jego nazwisko zostanie powiązane z tekstem.
          Taki tekst wydaje się być bardziej wiarygodny od niepodpisanego. Sprawdź, czy autor postu istnieje i pisał
          wcześnej na podobne tematy.
        </p>
        <p>
          <strong>Autor analizowanego newsa: <span>[[ newsAuthorDecision ]]</span></strong>
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="eval-relevance" data-toggle="collapse" data-target="#collapse-relevance">
      <h5 class="mb-0 d-flex justify-content-between">
        <span>
          <i v-bind:class="sourceRelevanceStateIcon"></i>
          Istotność źródła
        </span>
        <span>
          <i class="fas fa-chevron-down"></i>
        </span>
      </h5>
    </div>
    <div id="collapse-relevance" class="collapse collapsed" aria-labelledby="eval-relevance" data-parent="#fact-criteria">
      <div class="card-body">
        <p>
          Newsy pochodzące z poważnych serwisów informacyjnych są bardziej wiarygodne, niż te, które znajdziemy na
          portalach plotkarskich. Źródło sprawdzanego przez Ciebie newsa zostało zakwalifikowane do jednej z czterech
          kategorii określających jego jakość: nieznane źródło, niepewne źródło, przyzwoite źródło, zaufane źródło.
        </p>
        <p>
          <strong>Istotność źródła: <span>[[ sourceRelevance ]]</span></strong> <br>
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="eval-similar" data-toggle="collapse" data-target="#collapse-similar">
      <h5 class="mb-0 d-flex justify-content-between">
        <span>
          <i v-bind:class="similarNewsStateIcon"></i>
          Podobne newsy
        </span>
        <span>
          <i class="fas fa-chevron-down"></i>
        </span>
      </h5>
    </div>
    <div id="collapse-similar" class="collapse collapsed" aria-labelledby="eval-similar" data-parent="#fact-criteria">
      <div class="card-body">
        <p>
          Większość sprawdzonych informacji publikowana jest w wielu różnych mediach. Jeśli o Twoim newsie pisze kilka
          portali, to istnieje większa szansa, że informacje, które zawiera są sprawdzone. Pamiętaj jednak, że należy
          krytycznie spojrzeć na to, jakie portale piszą o Twoim newsie.
        </p>
        <p>
          <strong>Podobne newsy: <span>[[ similarNewsDecision ]]</span></strong>
          <ul id="criteria-neighbours-list">
            <li v-for="news in similarNewsList">
              <a href="#">[[ news ]]</a>
            </li>
          </ul>
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="eval-clickbaits" data-toggle="collapse" data-target="#collapse-clickbaits">
      <h5 class="mb-0 d-flex justify-content-between">
        <span>
          <i v-bind:class="clickbaitsStateIcon"></i>
          Brak słów-haczyków (tzw. clickbait)
        </span>
        <span>
          <i class="fas fa-chevron-down"></i>
        </span>
      </h5>
    </div>
    <div id="collapse-clickbaits" class="collapse collapsed" aria-labelledby="eval-clickbaits" data-parent="#fact-criteria">
      <div class="card-body">
        <p>
          Sensacyjne nagłówki i wzbudzające emocje słowa obniżają wiarygodność artykułu. Mogą one być sygnałem, że
          autorowi nie zależy na przekazaniu rzetelnych informacji, ale na przyciągnięciu czytelników.
        </p>
        <p>
          <strong>Słowa-haczyki: <span>[[ clickbaitsDecision ]]</span></strong>
        </p>
        <p>
          <span>[[ clickbaitsString ]]</span>
        </p>
      </div>
    </div>
  </div>
</div>
