{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

  <title>{% block title %}FACTycznie{% endblock %}</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-78893476-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-78893476-4');
  </script>-->

  {% block styles %}{% endblock %}

  <script src="{% static 'libs/jquery.js' %}"></script>
  <script src="{% static 'libs/paper-full.js' %}"></script>
{#  <script src="{% static 'libs/popper.js' %}"></script>#}
  <script src="{% static 'libs/bootstrap.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.6"></script>
  <script src="https://unpkg.com/vue-scrollto"></script>

</head>
<body>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark" id="fact-navbar" ref="factNavbar">
    <div class="container" id="factycznie-app">
      <a class="navbar-brand" href="#">
        FACTycznie.pl
      </a>
    </div>
  </nav>
  <div id="container">
    {% block content %}{% endblock %}
    <div id="footer" v-if="showAnalysis"></div>
  </div>
</body>
</html>
